language: android
before_install:
- nvm install 6
- node --version
install:
- npm install
android:
  components:
  - tools
  - build-tools-23.0.1
  - android-23
  - platform-tools
  - extra-android-m2repository
  - extra-google-google_play_services
  - extra-google-m2repository
  - addon-google_apis-google-16
  licenses:
  - 'android-sdk-preview-license-.+'
  - 'android-sdk-license-.+'
  - 'intel-android-extra-license.+'
script:
- npm run ci
- cd android && ./gradlew assembleRelease
